.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.spacer {
  flex: 1;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}

ul {
  margin-left: 3rem;
}
li {
  margin: 0 0.5rem;
}

.active {
  background-color: black;
}

a,
a:visited,
a:hover {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ececec;
}
