<div class="shoppingList">
  <h2>Shopping list</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="ingredientsDiv">
        <div class="list-group">
          <a
            class="list-group-item list-group-item-action"
            role="button"
            (click)="onEditItem(i)"
            *ngFor="
              let item of (ingredientsList | async).ingredients;
              let i = index
            "
          >
            {{ item.name }} ({{ item.amount }})
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-edit-list-item></app-edit-list-item>
    </div>
  </div>
</div>
