<div>
  <div class="flexBtn">
    <h1>{{ recipe.name }}</h1>
    <div class="buttons">
      <button class="btn btn-outline-success me-2" (click)="editRecipe()">
        &#9998; Edit Recipe
      </button>
      <button class="btn btn-outline-danger" (click)="deleteRecipe()">
        &#10005; Delete Recipe
      </button>
    </div>
  </div>
  <hr />
  <div>
    <h3>{{ recipe.description }}</h3>
    <p
      class="bg-light border p-2"
      *ngFor="let step of recipe.steps; let i = index"
    >
      <span>Step {{ i + 1 }}</span>
      {{ step }}
    </p>
  </div>
</div>
